# Colorize
alias grep='grep --color=auto'
alias ls='ls --color=auto'

# Xcode
alias openws='find -name *.xcworkspace -and ! -name project.xcworkspace -exec open {} \;'
alias clearmobileprovision='find ~/Library/MobileDevice/Provisioning\ Profiles/ -name '"'"'*.mobileprovision'"'"' -delete'
alias clearderiveddata='rm -rf ~/Library/Developer/Xcode/DerivedData/'
alias killxcode='ps ax | grep -i xcode | grep -v grep | awk '"'"'{ print $1; }'"'"' | sed '"'"':a;N;$!ba;s/\n/ /g'"'"' | xargs kill -9'

# Pods
alias repod='pod update --no-repo-update'
alias repodexample='pod update --no-repo-update --project-directory=Example'
alias podspecversion='grep ".version\s*=" *.podspec | grep -oP "\d+\.\d+\.\d+"'
alias podpush='pod lib lint && git tag v$(podspecversion) && git push --tags && pod trunk push && pod repo update master'
alias clearpodcache='rm -rf /Users/pletnev/Library/Caches/CocoaPods/Pods/External/'
