function rgb2hex() {
	if [ $# -gt 0 ];
	then
		echo "$@" | rgb2hex; 
	else
		while read r g b
		do
			echo "obase=16; (($r * 256 + $g) * 256) + $b" | bc 
		done
	fi
}

function hex2rgb {
	for hex in $@
	do 	
		b=$(echo "ibase=16; $hex - $hex / 100 * 100" | bc)
		g=$(echo "ibase=16; ($hex - $hex / 10000 * 10000) / 100" | bc)
		r=$(echo "ibase=16; $hex / 10000" | bc)
		echo "$r $g $b"
	done
}

declare -xA ANSI_COLOR_MAP=( \
[Black]='0;30' [Grey]='1;30' [Gray]='1;30' \
[Red]='0;31' [LRed]='1;31' \
[Green]='0;32' [LGreen]='1;32' \
[Orange]='0;33' [Brown]='0;33' [Yellow]='1;33' \
[Blue]='0;34' [LBlue]='1;34' \
[Purple]='0;35' [LPurple]='1;35' \
[Cyan]='0;36' [LCyan]='1;36' \
[LGrey]='0;37' [LGray]='0;37' [White]='1;37' [Clear]='0')

function colorize() {
    key=${1:-Clear}
    color=${ANSI_COLOR_MAP[$key]}
    echo -e "\e[${color}m"
}


